body {
  font-family: 'Work Sans', sans-serif;
  margin: 50px
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  margin: 50px 50px 50px;
  grid-gap:10px;
}

#item-1 {
  background-color:black;
  grid-column:1/3;
  grid-row:1/3;
  padding:80px 40px 80px;
  color:white;
  font-family: Magenta;
  font-size:3.5em;
  text-align:center;
}

#item-2 {
  background-color:#aaa0ff;
  grid-row:1/5;
  font-family: 'Lato', sans-serif;
  font-size:1.9em;
  padding:50px 20px 50px;
}

#item-3 {
  grid-row:3/5;
}

#item-4 {
  grid-row:3/5;
}

img {
  width:406px;
  height:310px;
}
